body {
  font-family: "Open Sans", sans-serif;
  font-size: .875rem;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  margin-right: 25%;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

input[readonly]{
  background-color:transparent;
  border: 0;
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  background-color: #1a1a1a !important;
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-top: 1px solid #1d1d1d;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #bfbfbf;
}

.sidebar .nav-link > i {
  margin-right: 0.4rem;
}

.sidebar-sticky > .nav-header {
  color: #797979;
  padding: 0.5rem 0.5rem;
  font-size: 16px;
}

/* .sidebar .nav-link > i.fa-check {
  color: #55b94a;
}

.sidebar .nav-link > i.fa-search {
  color: #458fc5;
} */

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar-brand .logo {
  width: 80%;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.landchain-title {
  padding-top: 10px;
  color: #f7f7f7;
  font-size: 13em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.form-control {
  border-radius: 0;
}

.sub-nav {
  background-color: #272b30;
  padding: 0.5rem;
  color: rgb(199, 199, 199);
}

.sub-nav > h1 {
  margin: 0;
  font-size: 1.1rem;
}

.bg-dark {
  background-color: #000 !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  background-color: #111;
  padding: 0.5rem;
  align-items: center;
}

.top-nav > a > .logo {
  max-height: 1.3rem;
}

.site-container {
  display: flex;
  flex: 1;
}

.site-container > .left-nav {
  background-color: rgb(29, 29, 29);
  width: 12rem;
  color: #bfbfbf;
  display: flex;
  flex-direction: column;
}

.site-container > .left-nav > .header {
  padding: 0.5rem;
}

.site-container > .left-nav > .item {
  padding: 0.5rem;
  border-bottom: 1px solid #2c2b2b;
}

.site-container > .left-nav > .item > a {
  color: #bfbfbf;
  text-decoration: none;
}

.site-container > .content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.site-container > .content > .header {
  background-color: #272b30;
  padding: 0.5rem;
  color: #949494;
}

.site-container > .content > form {
  padding: 0.5rem 0.7rem;
}

input, textarea {
  padding: 0.1rem 0.3rem !important;
}

.header {
  background-color: #272b30;
}

.site-container .content form {
  width: 30rem;
}

.btn-primary {
  background-color: #a2c955;
  border-color: #a2c955;
  color: #2d2d2d;
}

.btn-primary:hover {
  background-color: #a2c955;
  border-color: #a2c955;
  color: #2d2d2d;
}

.form-group > label {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.input-group-text {
  border-radius: 0;
}
